<div class="login-home w-100">
  <div class="text-center">
    <h1>Welcome</h1>
  </div>
  <div class="mt-5">
    <div
      class="d-flex ion-justify-content-center ion-align-items-center flex-column gap-4"
    >
      <button class="btn btn-create" [routerLink]="['/login/register']">
        Create Account
      </button>
      <button class="btn btn-login" [routerLink]="['/login/login']">
        Login
      </button>
    </div>
  </div>
  <div class="mt-5">
    <div class="d-flex ion-justify-content-center ion-align-items-center gap-3">
      <div class="circle">
        <img
          src="../../../../assets/icon/icons8-gmail-logo-50.png"
          alt="gmail-icon"
        />
      </div>
      <div class="circle">
        <img
          src="../../../../assets/icon/icons8-facebook-logo-50.png"
          alt="facebook-icon"
        />
      </div>
      <div class="circle">
        <img src="../../../../assets/icon/icons8-x-logo-50.png" alt="x-icon" />
      </div>
    </div>
    <div class="mt-3 text-center">
      <p>Sign in with another accounts</p>
    </div>
  </div>
</div>
