<div class="home-page">
  <div class="rect">
    <div class="container">
      <div
        class="d-flex ion-justify-content-center ion-align-items-center flex-column"
      >
        <h1 class="mt-5">Hello, Mohamed !</h1>
        <p>Don't Forget To Take Your Pills</p>
        <div class="mt-5 row w-100">
          <div class="home-page__reminder col-md-6">
            <div class="d-flex gap-2">
              <img src="../../../../assets/img/pills.png" alt="pill" />
              <div
                class="d-flex ion-justify-content-between ion-align-items-center w-100"
              >
                <div
                  class="d-flex ion-justify-content-start ion-align-items-start flex-column"
                >
                  <h2>Your Next Bill Today</h2>
                  <h1>Panadol Extra 500mg</h1>
                </div>
                <div class="check">
                  <div class="circle">
                    <ion-icon name="checkmark"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
