ion-content::part(background) {
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #4d55cc,
    #272b66
  ); /* Example gradient */
}
.mat-stepper-vertical,
.mat-stepper-horizontal {
  background: none;
}
.steps {
  .rect {
    width: 10rem;
    border-radius: 30px;
    height: 0.4rem;
    background-color: white;
  }
  .circle {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: white;
    margin-left: 1rem;
  }
}
.btn {
  &.btn-secondry {
    background-color: #272b66;
    ion-icon {
      color: white;
    }
    &:focus {
      background-color: white;
      ion-icon {
        color: #272b66;
      }
    }
  }
  &.btn-primary {
    background-color: white;
    height: 100%;
    &:focus {
      background-color: #272b66;
      ion-icon {
        color: white;
      }
    }
  }
  ion-icon {
    color: #272b66;
    // font-size: 0.2rem;
    // display: inline;
    // width: 2rem !important;
  }
}
